[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=kgx --command "pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY /usr/libexec/sysupd"
Name=system updater
Name[ja]=システムアップデート
Comment=Update AlexandriteOS system
Comment[ja]=AlexandriteOSシステムとユーザーアプリケーションをアップデートします。
Icon=org.alexandriteos.sysupd
Categories=System;
Keywords=update;package;updater;software;
